<h3>Games</h3>

<ul>
<% @games.each do |game| %>
  <%= erb :"/games/_game", locals: {game: game} %>
<% end %>
</ul>

<% if logged_in? %>
<a id="create-game" href="/games/new">Create Game</a>
<% end %>
