<h3><%= @game.name %></h3>

<p><%= @game.description %></p>

<% if authorized?(@game.user) %>
<a href="/games/<%= @game.id %>/edit">Edit</a>

<form method="POST" action="/games/<%= @game.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<% end %>