<h3><%= @game.name %></h3>

<a href="/games/<%= @game.id %>/edit">Edit</a>

<form method="POST" action="/games/<%= @game.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>